---
import ProjectCard from "../ui/ProjectCard.astro";
import { projects } from "../../data/projects";
---

<section class="group mx-auto w-full flex-1 text-foreground/80">
  <div class="mb-8">
    <div class="mb-10">
      <h1 class="text-2xl font-bold text-foreground mb-4">
        <span
          class="text-muted group-hover:text-green-600/80 dark:group-hover:text-green-300 mr-3"
          >$
        </span>
        ls projects
      </h1>
    </div>

    <div class="flex flex-wrap flex-col gap-4">
      {
        projects.map((project) => (
          <ProjectCard
            name={project.name}
            link={project.link}
            tags={project.tags}
            description={project.description}
          />
        ))
      }
    </div>
  </div>
</section>
