---
import ProjectCard from "../ProjectCard.astro";
import { projects } from "../../data/projects";
---

<main class="group mx-auto max-w-3xl flex-1 px-6 text-foreground/80">
  <section class="mb-8">
    <div class="mb-10">
      <h1 class="text-2xl font-bold text-foreground mb-4">
        <span
          class="text-muted group-hover:text-green-600/80 dark:group-hover:text-green-300 mr-3"
          >$
        </span>
        ls -lh ~/projects
      </h1>
    </div>

    <div class="flex flex-col gap-14">
      {
        projects.map((project) => (
          <ProjectCard
            name={project.name}
            link={project.link}
            tags={project.tags}
            description={project.description}
          />
        ))
      }
    </div>
  </section>
</main>
