---
import BaseLayoutAstroComponent from "../layouts/BaseLayout.astro";
---

<BaseLayoutAstroComponent 
  title="gourav | About" 
  description="More about me, my skills, and my journey."
>
  <main class="flex-1"></main>
</BaseLayoutAstroComponent>
