---
import BaseLayoutAstroComponent from "../layouts/BaseLayout.astro";
---

<BaseLayoutAstroComponent 
  title="gourav | Gallery" 
  description="My photo gallery and visual experiments."
>
  <main class="flex-1"></main>
</BaseLayoutAstroComponent>
