---
import ProjectsList from "../components/projects/ProjectsList.astro";
import CurrentlyWorkingOn from "../components/ui/CurrentlyWorkingOn.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="gourav | Projects"
  description="My projects, low-level tools, backend services, and networking software."
>
  <main class="mb-16">
    <CurrentlyWorkingOn />
    <ProjectsList />
  </main>
</BaseLayout>
