---
import BaseLayoutAstroComponent from "../layouts/BaseLayout.astro";
---

<BaseLayoutAstroComponent 
  title="gourav | Writings" 
  description="My thoughts, tutorials, and articles on systems programming."
>
  <main class="flex-1"></main>
</BaseLayoutAstroComponent>
