---
import TerminalHeading from "../ui/TerminalHeading.astro";
import Thatmagicalcat from "../../assets/avatars/thatmagicalcat.png";
import Duskyelf from "../../assets/avatars/duskyelf.png";
import PranavUCoder from "../../assets/avatars/PranavU-Coder.png";
import birbuh from "../../assets/avatars/birbuh.png";
import Ani2008 from "../../assets/avatars/ani-2008.png";
import Infiknighte from "../../assets/avatars/infiknighte.png";

import { Image } from "astro:assets";
const connections = [
  { username: "thatmagicalcat", img: Thatmagicalcat },
  { username: "Duskyelf", img: Duskyelf },
  { username: "PranavU-Coder", img: PranavUCoder },
  { username: "birbuh", img: birbuh },
  { username: "ani-2008", img: Ani2008 },
  { username: "infiknighte", img: Infiknighte },
];
---

<section class="group mx-4 md:mx-16 mb-20">
  <div class="flex items-center gap-4 text-foreground/95 text-lg font-semibold">
    <TerminalHeading command="cool friends" size="text-2xl" level="h2" />
     <span class="text-muted sm:text-sm text-[10px]"
      >- do checkout their stuff</span
    >
  </div>

  <div
    class="grid grid-cols-[repeat(6,56px)] md:grid-cols-[repeat(6,58px)] auto-rows-[56px] gap-2 mt-4"
  >
    {
      connections.map((friend) => (
        <a
          href=`https://github.com/${friend.username}`
          target="_blank"
          class="h-16 w-16 relative overflow-hidden border border-border shadow-sm dark:shadow-white/10 shadow-black/10 hover:scale-105 transition-transform duration-300 ease-out"
        >
          <div class="absolute inset-0 bg-foreground/10 blur-3xl scale-125" />

          <Image
            loading="lazy"
            decoding="async"
            src={friend.img}
            alt={friend.username}
            class="h-full w-full object-cover text-muted wrap-break-word hover:scale-110 transition-transform duration-300 ease-out will-change-transform"
          />
        </a>
      ))
    }
  </div>
</section>
