---
import GradientDivider from "../ui/GradientDivider.astro";
import TerminalHeading from "../ui/TerminalHeading.astro";
import ProjectCard from "../ui/ProjectCard.astro";
import { projects } from "../../data/projects";
---

<section class="group space-y-8">
  <TerminalHeading command="projects" size="text-2xl" />

  <div class="space-y-4">
    {
      projects
        .slice(0, 4)
        .map((project) => (
          <ProjectCard
            name={project.name}
            link={project.link}
            tags={project.tags}
            description={project.description}
          />
        ))
    }
  </div>

  <a
    href="/projects"
    class="hover:underline text-foreground/80 transition-transform duration-300 text-sm ml-1.5"
    >view all projects ➔</a
  >
</section>

<GradientDivider class="my-16" />
