---
import { projects } from "../../data/projects";
---

<section class="flex flex-col md:flex-row px-4 md:px-12 lg:px-16 gap-8">
  <div class="group/projects flex-1 space-y-12">
    <h1 class="text-foreground/95 text-lg font-semibold">
      <span class="group-hover/projects:text-green-300">#</span> projects
    </h1>

    {
      projects.slice(0, 4).map((project) => (
        <div class="group/project-link">
          <div class="flex gap-2">
            <a draggable="false" href={project.link} class="text-foreground">
              <div class="flex flex-wrap items-center gap-2">
                <span class="text-muted group-hover/project-link:text-accent">
                  $
                </span>

                <span class="font-medium mr-2 group-hover/project-link:underline underline-offset-2">
                  {project.name}
                </span>
              </div>
            </a>
            {project.tags.map((tag) => (
              <span class="text-xs text-muted border border-muted/30 px-1.5 py-0.5 rounded">
                {tag}
              </span>
            ))}
          </div>

          <p class="mt-2 pl-5 text-muted"> └─ {project.description}</p>
        </div>
      ))
    }

    <a
      href="/projects"
      class="hover:underline text-foreground/80 transition-transform duration-300 text-sm ml-1.5"
      >view all projects ➔</a
    >
  </div>
  <div class="flex-1"></div>
</section>

<div
  class="mt-16 mb-14 h-px w-full bg-[linear-gradient(90deg,transparent_0%,rgba(255,255,255,0.03)_15%,rgba(255,255,255,0.12)_50%,rgba(255,255,255,0.03)_85%,transparent_100%)]"
>
</div>
