---
import GradientDivider from "../ui/GradientDivider.astro";
import TerminalHeading from "../ui/TerminalHeading.astro";
import ProjectCard from "../ui/ProjectCard.astro";
import { projects } from "../../data/projects";
---

<section class="flex flex-col md:flex-row px-4 md:px-12 lg:px-16 gap-8">
  <div class="group flex-1 space-y-12">
    <TerminalHeading command="ls projects | head -4" size="text-2xl" />

    {
      projects
        .slice(0, 4)
        .map((project) => (
          <ProjectCard
            name={project.name}
            link={project.link}
            tags={project.tags}
            description={project.description}
          />
        ))
    }

    <a
      href="/projects"
      class="hover:underline text-foreground/80 transition-transform duration-300 text-sm ml-1.5"
      >view all projects ➔</a
    >
  </div>
  <div class="flex-1"></div>
</section>

<GradientDivider class="my-16" />
