---
// Normalize pathname by removing the trailing slash (except for the root "/")
const pathname = Astro.url.pathname.replace(/\/$/, "") || "/";

const links = [
  { href: "/", label: "~/me" },
  { href: "/projects", label: "~/projects" },
  { href: "/writings", label: "~/writings" },
  { href: "/gallery", label: "~/gallery" },
  { href: "/about", label: "~/about" },
];
---

<header
  class="p-4 md:px-12 lg:px-16
       fixed top-0 left-0 right-0 z-50
       bg-background/90
       backdrop-blur-lg
       border-b border-border
       shadow-sm shadow-black/40"
>
  <nav class="flex items-center justify-between">
    <div class="h-6 text-foreground/90 tracking-tight">
      <a href="/" class="h-auto">
        gourav<span
          class="text-foreground/40 hover:text-foreground/70 transition-colors"
        >
          @arch
        </span>
      </a>
    </div>

    <ul
      class="hidden md:flex text-foreground/50"
      style="gap: clamp(0.5rem, 3vw, 3rem);
      font-size: clamp(0.9rem, 0.5rem + 0.5vw, 1.2rem);"
    >
      {
        links.map((link) => {
          const isActiveLink =
            link.href === "/"
              ? pathname === "/"
              : pathname.startsWith(link.href);

          return (
            <li
              class={`hover:scale-105 hover:text-foreground/90 transition-all duration-300 ease-out ${
                isActiveLink
                  ? "text-foreground/90 border-b-2 border-foreground/60"
                  : ""
              }`}
            >
              <a href={link.href} class="px-1 py-3">
                {link.label}
              </a>
            </li>
          );
        })
      }
    </ul>

    <button
      id="menu-toggle"
      class="rounded-lg border border-border px-2.25 pb-0.5 bg-background/40 md:hidden text-2xl text-foreground/60 hover:text-foreground/90 hover:scale-105 transition-all duration-300 cursor-pointer"
    >
      ☰
    </button>

    <button
      id="theme-toggle"
      aria-label="Toggle theme"
      class="hidden rounded-lg border border-border px-2.5 py-0.5 bg-background/40 text-1xl md:inline-block text-foreground/60 hover:text-foreground/90 hover:scale-110 transition-all cursor-pointer"
    >
      ☾
    </button>
  </nav>
</header>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const themeToggle = document.getElementById("theme-toggle");

  function menuToggleClicked() {} // TODO add Vertical navbar
  function themeToggleClicked() {} // TODO Setup theme toggle

  if (menuToggle) {
    menuToggle.addEventListener("click", menuToggleClicked);
  }

  if (themeToggle) {
    themeToggle.addEventListener("click", themeToggleClicked);
  }
</script>
