---
import cat from "../assets/cat.jpg";
---

<section
  class="grid grid-cols-1 md:grid-cols-[1fr_2fr] text-(--text) mt-8 h-[clamp(16rem,50vh,32rem)]"
>
  <div class="flex mt-8 justify-center">
    <img
      src={cat.src}
      alt="tux hero icon"
      class="h-[clamp(12rem,26vw,16rem)] w-auto object-cover rounded-full hover:scale-105 transition-transform duration-300 ease-out"
    />
  </div>
  <div class="mt-12">
    <h1 class="text-3xl font-medium tracking-tight">
      <span class="text-(--muted) mr-4 ml-4">$</span>whoami
    </h1>
    <h2 class="text-(--muted) ml-4 text-[1.2rem] mb-4 mt-6"># user.info</h2>
    <p class="max-w-prose text-base ml-4 leading-relaxed md:text-lg">
      hey. i write code in c, c++, go, and python. i am mostly focused on
      lower-level programming, cpu architecture, and building minimal tools.
    </p>
    <dl><dt></dt></dl>
  </div>
</section>
