---
import TagList from "./TagList.astro";
interface Props {
  title: string;
  description: string;
  uploadDate?: Date;
  tags: string[];
}

const { title, description, uploadDate, tags } = Astro.props;
---

<div class:list={["border border-muted/20 p-8", "group/post mb-8 space-y-4"]}>
  <div class="flex items-center gap-8">
    <h1 class="space-x-2 text-foreground text-[16px] font-semibold">
      <span class="group-hover/post:text-blue-300 text-muted">%</span>
      <span class="group-hover/post:underline underline-offset-2">
        {title}
      </span>
    </h1>

    <TagList tags={tags} />

    <span class="block text-xs text-muted/70 ml-auto">Jun 20, 2026</span>
  </div>

  <p class="text-muted text-sm">
    {description}
  </p>
</div>
