---
import { projects } from "../data/projects";
---

<main class="mx-auto max-w-3xl px-6 text-foreground/80 flex-1">
  <section class="space-y-12">
    <header>
      <h1 class="text-2xl font-bold text-foreground">
        <span class="text-muted">$ </span>
        cat ~/projects/readme.md
      </h1>

      <p class="max-w-[65ch] leading-8 text-foreground/70 mt-4">
        i enjoy building low-level tools, backend services, and networking
        software. these projects document what i’ve learned, what i’ve broken,
        and what i’ve rebuilt along the way.
      </p>
    </header>

    <div>
      <h2 class="text-2xl font-bold text-foreground mb-4">
        <span class="text-muted">$ </span>
        ls -lh ~/projects
      </h2>

      <span class="inline-block text-muted mb-1">projects</span>

      {
        projects?.map((project) => (
          <a
            href={project.link}
            target="_blank"
            class="group flex gap-2 border-l border-muted/60 ml-1 pt-4  not-last:pb-4"
          >
            <span class="text-muted group-hover:text-violet-300 select-none">
              ───
            </span>

            <div>
              <div class="flex flex-col flex-wrap justify-center">
                <h3 class="mr-4 font-bold text-foreground/90 transition-all group-hover:text-violet-300 group-hover:drop-shadow-[0_0_8px_rgba(168,85,247,0.8)]">
                  {project.name}
                </h3>

                <div class="mt-2 mb-1 space-x-2">
                  {project.tags.map((tag) => (
                    <span class="rounded border border-muted/30 px-1.5 py-0.5 text-xs text-muted">
                      {tag}
                    </span>
                  ))}
                </div>
              </div>

              <p class="mt-1 text-sm text-muted">{project.description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</main>

<div
  class="mt-16 mb-14 h-px w-full bg-[linear-gradient(90deg,transparent_0%,rgba(255,255,255,0.03)_15%,rgba(255,255,255,0.12)_50%,rgba(255,255,255,0.03)_85%,transparent_100%)]"
>
</div>
