---
import TagList from "./TagList.astro";
interface Props {
  name: string;
  description: string;
  tags: string[];
  link: string;
}

const { name, description, tags, link } = Astro.props;
---

<div
  class="group/project-link border border-border/50 hover:border-foreground/20 p-4 transition-colors"
>
  <a href={link} class="block">
    <div class="sm:items-center transition-colors duration-300">
      <div class="text-foreground">
        <div class="flex flex-wrap items-center gap-2">
          <span class="text-muted/70 mr-2 group-hover/project-link:text-accent">
            @
          </span>

          <span class="font-medium underline-offset-2">
            {name}
          </span>
        </div>
      </div>
    </div>

    <p class="mt-4 pl-6 text-muted/80 group-hover/project-link:text-muted">
      └─ {description}
    </p>

    <div class="mt-5 ml-5">
      <TagList tags={tags} />
    </div>
  </a>
</div>
