---
interface Props {
  command: string;
  level?: "h1" | "h2" | "h3";
  size?: string;
  divider?: boolean;
}

const { command, level = "h2", size = "text-2xl" } = Astro.props;

const Tag = level;
---

<Tag class:list={[size, "font-bold text-foreground"]}>
  <span
    class="text-muted group-hover:text-green-600/80 dark:group-hover:text-green-300 mr-3 transition-colors ease-in-out"
    >$
  </span>
  {command}
</Tag>
